{% extends 'base.html.twig' %}

{% block title %}New GalleryPics{% endblock %}

{% block body %}
    <h1>Create new GalleryPics</h1>

    {{ include('gallery_pics/_form.html.twig') }}

    <a href="{{ path('app_gallery_pics_index') }}">back to list</a>
{% endblock %}
