{% extends 'admin/base_admin.html.twig' %}

{% block title %}New GalleryPics{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center my-3">Create new GalleryPics</h1>

    {{ include('admin/_form/_form.html.twig') }}

    <a href="{{ path('app_gallery_pics_index') }}" class="btn mt-3 mb-3 ms-3">back to list</a>
    </div>
{% endblock %}
